<a href="https://colab.research.google.com/github/GUDAYASHASWINI01/Python/blob/main/Training_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#example for int
my_int = 42
print("Original Integer:", my_int)
result = my_int * 2
print("Result after multiplication:", result)

Original Integer: 42
Result after multiplication: 84

In [ ]:
#example for list("append,insert,insert in the middle,remove")
my_list = [1, 'hello', 3.14, True]
print("Original List:", my_list)
my_list.append('world')
print("List after appending 'world':", my_list)
my_list.insert(0, 1)
print("List after inserting at the beginning:", my_list)
middle_index = len(my_list) // 2
my_list.insert(middle_index, 3.5)
print("List after inserting in the middle:", my_list)
my_list.remove(3.14)
print("List after removing 3.14:", my_list)
index_to_update = 2
new_value = 10
my_list[index_to_update]

Original List: [1, 'hello', 3.14, True]
List after appending 'world': [1, 'hello', 3.14, True, 'world']
List after inserting at the beginning: [1, 1, 'hello', 3.14, True, 'world']
List after inserting in the middle: [1, 1, 'hello', 3.5, 3.14, True, 'world']
List after removing 3.14: [1, 1, 'hello', 3.5, True, 'world']

In [ ]:
#Slicing
#1.Slicing with step(start:stop:step)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nSlicing with step(start:stop:step):")
print(my_list[1:8:2])
#2.Slicing with Negative index(counting from the end)
print("\nSlicing with negative index:")
print(my_list[-5:-2])
#3.Reversing the list using Slicing
print("\nReversing the list using Slicing:")
print(my_list[::-1])

Slicing with step(start:stop:step):
[2, 4, 6, 8]

Slicing with negative index:
[6, 7, 8]

Reversing the list using Slicing:
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Create a list of lists representing fruits in different baskets
baskets = [
    ['apple', 'banana', 'orange'],  # Basket 1
    ['grape', 'strawberry', 'kiwi'], # Basket 2
    ['mango', 'pineapple']          # Basket 3
]

# Print the fruits in the second basket
print("Fruits in basket 2:", baskets[1])

# Print the first fruit in the third basket
print("First fruit in basket 3:", baskets[2][0])

Fruits in basket 2: ['grape', 'strawberry', 'kiwi']
First fruit in basket 3: mango

In [ ]:
#example for tuple
my_tuple = (1, 'apple', 3.14, False)
print("Original Tuple:", my_tuple)
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

Original Tuple: (1, 'apple', 3.14, False)
First element: 1
Last element: False

In [ ]:
#example for set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
my_set.add(6)
print("Set after adding 6:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding 6: {1, 2, 3, 4, 5, 6}

In [ ]:
#example for dict
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print("Original dictionary:", my_dict)
my_dict['age'] = 26
print("Dictionary after age=26:", my_dict)

Original dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Dictionary after age=26: {'name': 'John', 'age': 26, 'city': 'New York'}

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#Method Example
class Greeter:
    def __init__(self, name):
        self.name = name

    def greet(self):  # Instance method
        return f"Hello, {self.name}!"

    @classmethod
    def general_greet(cls):  # Class method
        return "Hello, everyone!"

    @staticmethod
    def static_greet():  # Static method
        return "Hello!"

obj = Greeter("Alice")
print(obj.greet())
print(Greeter.general_greet())
print(Greeter.static_greet())
#Replacing word
a = 'hello'
b = a.replace('hello', 'hi')
b = a.upper()
print(b)

Hello, Alice!
Hello, everyone!
Hello!
HELLO

In [ ]:
#Function Example
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))  # Output: Hello, Alice!

Hello, Alice!

In [ ]:
c = '1234sf'
d = c.isdigit()
print(d)

False

In [ ]:
my_list = list(range(5,15,2))
print(my_list)

[5, 7, 9, 11, 13]

In [ ]:
a = range(10)
b = list(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def add_numbers(a, b):
  result = a + b
  return result
result2 = add_numbers(10, 2)
print(result2)

12

In [ ]:
#function with *arg
def calculate_sum(*args):
    total = sum(args)
    return total
print("sum of 1,2,3,4 :", calculate_sum(1,2,3,4))
print("sum of 1,2,3,4,5 :", calculate_sum(1,2,3,4,5))

sum of 1,2,3,4 : 10
sum of 1,2,3,4,5 : 15

In [ ]:
add = lambda x, y : x + y
result = add(3, 4)
print(result)

7

In [ ]:
is_palindrome = lambda s: s==s[::-1]
print(is_palindrome("radar"))

True